<%- include("../partials/header"); -%>

<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title>Blog Template · Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/blog/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="/docs/4.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />
    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />

    <style>
        .align {
            text-align : left;
        }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <center>
     <h1> CONFERENCES</h1>
<p>It has been a tradition with the various departments of S R Group of Institutions to hold and organize International and National Conferences and Seminars as well as Workshops and Lecture Series mainly for the benefit of our students and members of faculty. These meets are attended by eminent scientists, academicians and professionals from major industries who share their research and professional experiences.
Conferences are assemblies of researchers and professionals where findings of current researches presented and discussed for the betterment of participants.
Seminars are similar to conferences, but the stress here is mainly on presentation of research findings and exchange of innovative ideas to the students.
</p><br><br><br>
<p>
<strong>
   

      <h3>List of conferences: </h3>
     <div class="align">
      <ol>
          <li>National Conference in Computer Engineering “ Cyber utthan”  2010 30-31 oct Cad horizon 2010.</li>
          <li>National conference in Electronic & communication and instrumental control engineering “e-Manthan”    2010 2-3 april.</li>
          <li>National Conferences on Recent Advancements  in Mechanical Engineering “NCRAME-2011”  2011  2-30       de</li>
          <li>International conference in Electronic & communication and instrumental control engineering   “e-Manthan”    2012  6-7 april</li>
          <li>National Conference “Evolution of Pharmacy.” At SRGI Jhansi, on 20th Oct.2012
        </ol></div>
        </p></strong><br><br><br>
<img src="https://srgi.ac.in/wp-content/uploads/2018/06/WORKSHOP-1024x437.jpg"></center>
      </div>    </body>
</html>
<br>
<br>
<br>
<br>
<%- include("../partials/footer"); -%>

