<%- include("../partials/header"); -%>

<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title></title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/blog/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="/docs/4.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />
    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">
               B.Sc. (Bachelor of Science) (Honours) – Biotechnology
          </h1>
          <p class="lead my-3">
               The B.Sc. (Honours) Biotechnology Programme is affiliated to Bundelkhand University and is recognized by state government. Biotechnology is one of the most rapidly growing fields of applied science having applications from the diagnosis and treatment of medical conditions to enhancement of food production.
          </p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">CP Singh</h3>
              <div class="mb-1 text-muted">proctor</div>
              <p class="card-text mb-auto">
                Our experienced faculties from premier institutes bring a wealth
                of knowledge and expertise to the classroom. Their vast industry
                and teaching experience coupled with their research.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>

            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">World</strong>
              <h3 class="mb-0">Pradeep Bedi</h3>
              <div class="mb-1 text-muted">HOD(CSE)</div>
              <p class="mb-auto">
                Our commitment and dedication is to focus on experiential,
                cooperative and project-based learning that allows our students
                to continue to adapt, grow and succeed in solving real-world
                problems.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">In Brief</h2>
            <p class="blog-post-meta">
              <a href="#">Mark</a>
            </p>

            <p>
               B.Sc (Hons.) Biotechnology is a 3-year full-time undergraduate course that brings together Biology and Technology, introducing to candidates its various application in varied sectors. Qualifying the 10+2 examination in science or any equivalent examination in either three subjects amongst Physics, Chemistry, Biology, Information Technology or Mathematics with 50% aggregate marks is prerequisite eligibility criteria for this program.  </p>
            <hr />
            <p>
              
            <blockquote>
             
            <p>
               The three-year degree of B.Sc. (Honours) Biotechnology is designed to give you the knowledge and skills that will enable you to take full advantage of opportunities that will ensue from the expansion of this area. The main focus of the course will be on ’molecular biotechnology’, which includes the themes of molecular biology, immunology, and bioinformatics. Although there will be an emphasis on laboratory-scale biotechnology, the course will foster an awareness of its applications e.g. food production, livestock breeding, medicine, and production of renewable fuel.
            </p><br><br>
            <p>
               Course facilities include well-equipped and refurbished laboratories and teaching rooms as well as programme specific IT facilities. The faculty members are a careful assortment of knowledge, experience and expertise who have demonstrated their capabilities in their past academic endeavours.
            </p><br><br>
            <p>
               The programme seeks to graduate biotechnologists, armed not only with the academic knowledge but also with the skills and abilities to work in the challenging biotechnology industries. A biotechnology degree is passport to many exciting areas such as drug design, medical biotechnology, food and drink technology, genetic engineering, bioinformatics, forensics, environmental management and beyond. Opportunities for qualified biotechnologists exist in multinational companies, entrepreneurial enterprises, the health service, research industry, academia and dedicated research organizations.
            </p>
            <p>
               The department of applied science looks after all the subjects for students of B.Tech, first year. The basic idea behind teaching subjects such as Mathematics, Physics, Chemistry, Professional Communication, etc., is that it builds a strong foundation over which the further years of study can be fabricated. The elementary knowledge of these subjects builds concepts which facilitate the students during their entire career. It is during the first year that the students can decide the trade in which they wish to pursue their engineering.
            </p>
            </ol>
          </div>
           
          <!-- /.blog-post -->
          <div class="container">
          <div class="row mb-2">
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">World</strong>
                  <h3 class="mb-0">CP Singh</h3>
                  <div class="mb-1 text-muted">proctor</div>
                  <p class="card-text mb-auto">
                    Our experienced faculties from premier institutes bring a wealth
                    of knowledge and expertise to the classroom. Their vast industry
                    and teaching experience coupled with their research.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
    
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">World</strong>
                  <h3 class="mb-0">Pradeep Bedi</h3>
                  <div class="mb-1 text-muted">HOD(CSE)</div>
                  <p class="mb-auto">
                    Our commitment and dedication is to focus on experiential,
                    cooperative and project-based learning that allows our students
                    to continue to adapt, grow and succeed in solving real-world
                    problems.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a
              class="btn btn-outline-secondary disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Newer</a
            >
          </nav>
        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">
               The wide concept of "biotech" or "biotechnology" encompasses a wide range of procedures for modifying living organisms according to human purposes, going back to domestication of animals, cultivation of the plants, and "improvements" to these through breeding programs that employ artificial selection and hybridization. Modern usage also includes genetic engineering as well as cell and tissue culture technologies. The American Chemical Society defines biotechnology as the application of biological organisms, systems, or processes by various industries to learning about the science of life and the improvement of the value of materials and organisms such as pharmaceuticals, crops, and livestock.[1] Per the European Federation of Biotechnology, biotechnology is the integration of natural science and organisms, cells, parts thereof, and molecular analogues for products and services.[2] Biotechnology is based on the basic biological sciences (e.g. molecular biology, biochemistry, cell biology, embryology, genetics, microbiology) and conversely provides methods to support and perform basic research in biology.
            </p>
          </div>


        </aside>
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    </main>
   
  </body>
</html>
<%- include("../partials/footer"); -%>
