<%- include("../partials/header"); -%>

<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title>Blog Template · Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/blog/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="/docs/4.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />
    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">
               B.Sc (Food Technology)
          </h1>
          <p class="lead my-3">
               Food Technology has revolutionized the food habits of the people in our country by offering cooked and secured packaged foods in attractive forms. Consumption of processed foods is noticeable across almost all sections of the population. And so, the market for processed food is growing very fast.


          </p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">CP Singh</h3>
              <div class="mb-1 text-muted">proctor</div>
              <p class="card-text mb-auto">
                Our experienced faculties from premier institutes bring a wealth
                of knowledge and expertise to the classroom. Their vast industry
                and teaching experience coupled with their research.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>

            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">World</strong>
              <h3 class="mb-0">Pradeep Bedi</h3>
              <div class="mb-1 text-muted">HOD(CSE)</div>
              <p class="mb-auto">
                Our commitment and dedication is to focus on experiential,
                cooperative and project-based learning that allows our students
                to continue to adapt, grow and succeed in solving real-world
                problems.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Infrastructure</h2>
            <p class="blog-post-meta">
              <a href="#">Mark</a>
            </p>

            <p>
               B.Sc Food Technology is a bachelor's degree which comes under science background. B.Sc Food Technology Course Duration is 3 years. B.Sc Food Technology deals with the study of production, preservation, and improvisation of food and its quality with scientific technology. Food technology students have an opportunity to learn new technologies every now and then that helps them to research more in food science. </p>
            <hr />
            <p>
              <p>
              
               On completion of BSc Food Technology, candidates can opt for a wide range of professions. With the help of B.Sc. Food Technology degree, students will be able to make their career as a Food Technologist, Organic Chemist, Technical Brewer, Production Manager etc.
            </p><br><br>
            <blockquote>          
            <h3>Salient Features</h3>
            <p>
              
            </p>
            <ol>
                 <li>
                    Provides knowledge in food science and the principles underlying food processing, industrial management practices, preservation techniques, packaging methods, etc.
                 </li>
                 <li>
                    Gives candidates a thorough basic understanding of production processes.
                 </li>
                 <li>
                    Enables them to design novel processing approaches and to undertake product development.
                 </li>
                 <li>
                    Enables the student to gain a basic understanding of the physical and chemical properties of food and its subsequent behavior of food and food ingredients under different processing conditions.
                 </li>
                 <li>
                    Teaches the student to investigate the basic nature of food and its nutritional, physical and chemical properties, to develop new and safe food products, control and management of the quality of processed foods.
                 </li>
              
            </ol>
          </div>
           
          <!-- /.blog-post -->
          <div class="container">
          <div class="row mb-2">
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">World</strong>
                  <h3 class="mb-0">CP Singh</h3>
                  <div class="mb-1 text-muted">proctor</div>
                  <p class="card-text mb-auto">
                    Our experienced faculties from premier institutes bring a wealth
                    of knowledge and expertise to the classroom. Their vast industry
                    and teaching experience coupled with their research.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
    
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">World</strong>
                  <h3 class="mb-0">Pradeep Bedi</h3>
                  <div class="mb-1 text-muted">HOD(CSE)</div>
                  <p class="mb-auto">
                    Our commitment and dedication is to focus on experiential,
                    cooperative and project-based learning that allows our students
                    to continue to adapt, grow and succeed in solving real-world
                    problems.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a
              class="btn btn-outline-secondary disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Newer</a
            >
          </nav>
        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">
               Food technology is a branch of food science that deals with the production processes that make foods.

               Early scientific research into food technology concentrated on food preservation. Nicolas Appert’s development in 1810 of the canning process was a decisive event. The process wasn’t called canning then and Appert did not really know the principle on which his process worked, but canning has had a major impact on food preservation techniques.
            </p>
          </div>


        </aside>
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    </main>
   
  </body>
</html>
<%- include("../partials/footer"); -%>
