<%-include("../partials/header"); -%>
<br />
<br />
<br />
<br />
<br />
<!-----EJS Header Finished --->
<!DOCTYPE html>
<html>
  <head>
    <title>College Of Pharmacy</title>
    <!----bootstrap css-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <!---Heading -->

  <body>
    <!-- Body -->

    <div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">College Of Pharmacy</h2>
          <br />
          <p class="lead">
            The College of Pharmacy has been established with a mission to
            provide course of study and prepare trained manpower in the field of
            Pharmacy, Pharmaceutical Sciences and to integrate the knowledge of
            medicine, clinical sciences and drug discovery system for patient
            care and cure. It is designed to be a self-reliant campus with all
            basic amenities and resources viz. round the clock electricity and
            RO processed water supply with ample security arrangements. Approved
            by AICTE, Ministry of HRD, Govt. of India and affiliated to Uttar
            Pradesh Technical University, Lucknow, the College of Pharmacy,
            Jhansi, aims at enhancing the prestige that the SRGI has earned over
            the years of its establishment.
          </p>
          <p class="lead">
            It enables the students to develop strong foundations in
            bio-sciences and related subjects simultaneously improving their
            applicability in the various stages in medicine discovery and
            production. A perfectly conducive learning atmosphere has a unique
            integration of the ingredients suiting the requirements of
            contemporary pharmacy education scenario. The faculty members are a
            careful assortment of people with knowledge, experience and
            expertise who have demonstrated their capabilities in their past
            academic endeavors. The institute is providing even better
            opportunity and environment for exchange of views and updating
            knowledge by organizing the Guest lectures/ seminars/ symposia/
            conferences in the field of Pharmaceutical Sciences. It is engaged
            in creating opportunities for higher studies and research in various
            disciplines of pharmaceutical interests which are oriented to create
            new knowledge in the field. College of Pharmacy stands in tune with
            the ideologies and philosophies deeply held and imbibed. The
            institute is emerging as a center of excellence providing advanced
            facilities including herbal garden. The infrastructure and
            facilities are designed to produce graduates in development,
            production, discovery and research related areas. The emphasis on
            transferable as well as specialized skills will also equip the
            graduates with qualities to enter a range of other professions. The
            four-year curriculum has been divided into 8 semesters and include
            lectures, tutorials, practicals, seminars and projects in addition
            to industrial training and educational tour etc. as defined in the
            schemes of instructions and examinations and executive instructions
            issued by the University from time to time. The curriculum will also
            include such other curricular, co-curricular and extracurricular
            activities as prescribed by the University from time to time.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="featurette-image img-fluid mx-auto"
            src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/pharma.jpg?alt=media&token=98cc57c2-a3f5-4fc2-a65a-9bd255cf3c88"
            alt="Generic placeholder image"
          />
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>
  </body>
</html>
<br />
<br />
<br />

<!----EJS Footer-->
<%-include("../partials/footer"); -%>
