<%-include("../partials/header"); -%>
<br />
<br />
<br />
<br />
<br />
<!-----EJS Header Finished --->
<!DOCTYPE html>
<html>
  <head>
    <title>College Of Engineering,Management and Technology</title>
    <!----bootstrap css-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <!---Heading -->
  <style>
    .card {
      border-radius: 15px;
      margin: 20px;
      padding: 40px;
    }
  </style>

  <body>
    <!--Body-->
    <div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            College Of Engineering & Technology
          </h2>
          <br />
          <p class="lead">
            College of Engineering& Technology is a chronicle of persistent
            striving for excellence throughout its existence. Approved by All
            India Council of Technical Education, Ministry of HRD, Govt. of
            India and affiliated to Uttar Pradesh Technical University, Lucknow,
            the institute is a constituent college of SR Group of Institutions.
            In an effort to achieve its aim to set a milestone for the future
            generation, the institute offers B.Tech in various branches of
            engineering such as Computer Science, Electronics & Communication,
            Mechanical Engineering, Civil Engineering and Electrical
            Engineering.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="featurette-image img-fluid mx-auto"
            src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/engg..jpg?alt=media&token=44778a9b-b6d7-48bb-9147-aa760337bc1d"
            alt="Generic placeholder image"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">College Of Management</h2>
          <br />
          <p class="lead">
            The college has always maintained high academic standards. What is
            more important is the space it has provided to the students to
            freely express and develop views that help them respond to changes
            in society. Its proximity to other campus colleges enables students
            to participate in the academic and cultural events that take place
            around it. We are dedicated to provide high quality education that
            delivers real benefits for the students and their future. We attempt
            to provide an imaginative and innovative ethos that combines sound
            business principles with instinctive commercial drive. Our courses
            offer students a life changing experience, preparing them to succeed
            in the ever changing global business arena.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
            class="featurette-image img-fluid mx-auto"
            src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/manage..png?alt=media&token=f2b0cfb9-f635-4f00-a78b-96fb7b93c738"
            alt="Generic placeholder image"
          />
        </div>
      </div>

      <hr class="featurette-divider" />
      <!-- Three columns of text below the carousel -->
      <h4 style="text-align: center;">ALUMNI REVIEW</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img
              class="rounded-circle"
              src=" "
              alt="Img not found"
              width="140"
              height="140"
            />
            <h2>Shrishti Gupta</h2>
            <h6 style="color: Purple; margin: 15px; padding: 15px;">
              Accenture
            </h6>

            <p>
              “It gives me a complete satisfaction to be a part of an ITM
              University which is an incredible blend of...
            </p>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img
              class="rounded-circle"
              src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/anjni.jpg?alt=media&token=2521f370-1bc0-4fbc-91cc-dbccc2e80ea8"
              alt="Generic placeholder image"
              width="140"
              height="140"
            />
            <h2>Anjni Dubey</h2>
            <h6 style="color: Blue; margin: 15px; padding: 15px;">TCS</h6>

            <p>
              “I am honoured to have had the opportunity to be a part of SRGI.
              The Institute has presented me...
            </p>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img
              class="rounded-circle"
              src="https://scontent.fknu1-1.fna.fbcdn.net/v/t1.0-9/23795603_1498571026929839_97843455044267442_n.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=mhHxXxzg82cAX-dsbCh&_nc_ht=scontent.fknu1-1.fna&oh=461af7cdb2349cdb355cdfb15e06c4a9&oe=5F605CED"
              alt="Generic placeholder image"
              width="140"
              height="140"
            />
            <h2>Harshit Chaturvedi</h2>
            <h6 style="color: Blue; margin: 15px; padding: 15px;">Juspay</h6>

            <p>
              “Life as a student at SRGI was a great experience for me. The
              faculty and the TAP Cell team..."
            </p>
          </div>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>
  </body>
</html>
<br />
<br />
<br />

<!----EJS Footer-->
<%-include("../partials/footer"); -%>
