<%-include("../partials/header"); -%>
<br />
<br />
<br />
<br />
<br />
<!-----EJS Header Finished --->
<!DOCTYPE html>
<html>
  <head>
    <title>College Of Professional Studies</title>
    <!----bootstrap css-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <!---Heading -->

  <body>
    <!-- BODY -->

    <div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">College Of Professional Studies</h2>
          <br />
          <p class="lead">
            College of Professional Studies (CPS), affiliated to Bundelkhand
            University, Jhansi and approved by All India Council of Technical
            Education, Ministry of HRD, Govt. of India, aims to disseminate
            technical and professional knowledge to the future citizens of our
            country. The College is a constituent unit of SR Group of
            Institutions, which provides education in the field of Science,
            Technology and Management like B.Sc. (Bio-tech.), BCA and BBA. In
            CPS, each individual is encouraged to step beyond the confines of
            academic and administrative disciplines to explore and intervene in
            the larger interests of the SRGI Community that thrives on
            participation and desires to venture into newer vistas. We at CPS
            believe in providing for our students an environment rich in
            knowledge and supportive of their extra-curricular interests. Our
            tradition of excellence in science, technology and management only
            adds to the richness of the academic fabric of the college. You will
            come across the unique combination of social activism, creativity
            and learning in every discipline and every corner of this
            institution. Even as classroom teaching and, work in the library and
            the laboratories have their share in the mode of instruction,
            personal interaction between students and teachers and among
            students themselves form an extremely important and lively medium of
            generation and transmission of knowledge.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="featurette-image img-fluid mx-auto"
            src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/professional.jpg?alt=media&token=2c35d3ae-76c8-466c-9893-56c9a2c0d71a"
            alt="Generic placeholder image"
          />
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>
  </body>
</html>
<br />
<br />
<br />

<!----EJS Footer-->
<%-include("../partials/footer"); -%>
