<%-include("../partials/header"); -%>
<br />
<br />
<br />
<br />
<br />
<!-----EJS Header Finished --->
<!DOCTYPE html>
<html>
  <head>
    <title>College Of Law</title>
    <!----bootstrap css-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <!---Heading -->

  <body>
    <!-- BODY. -->

    <div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">College Of Law</h2>
          <br />
          <p class="lead">
            SRGI, School of Law is an institution recognized by the UGC and Bar
            Council of India. It is established with the objective of providing
            high quality education in the legal domain. SRGI of Law aspires to
            be recognized as a principal centre of excellence in law. The School
            of Legal Studies seeks to emphasize on the integration of
            enterprising initiatives and creative programs in the curricular
            activity, transcending conventional academic orientation so as to
            inculcate within each of its student, a vibrant and more real
            outlook towards their life and career. We have a rich library with
            treatises from renowned authorities, up-to date case reports and
            latest online legal search engines offering vast learning experience
            and opportunities. At School of Law, we organize regular Court
            visits, Legal Aid cum Literacy Camp and guest lectures by eminent
            dignitaries. These co-curricular activities form an essential part
            of Law curriculum for better exposure to legal profession and
            mannerism.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="featurette-image img-fluid mx-auto"
            src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/law.jpeg?alt=media&token=f82e8854-81c8-4567-9d4d-ea200e868ca7"
            alt="Generic placeholder image"
          />
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>
  </body>
</html>
<br />
<br />
<br />

<!----EJS Footer-->
<%-include("../partials/footer"); -%>
