<%-include("../partials/header"); -%>
<br />
<br />
<br />
<br />
<br />
<!-----EJS Header Finished --->
<!DOCTYPE html>
<html>
  <head>
    <title>College Of Polytechnic</title>
    <!----bootstrap css-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <!---Heading -->

  <body>
    <!-- BODY -->

    <div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">College Of Polytechnic</h2>
          <br />
          <p class="lead">
            A polytechnic college by definition is an institution offering
            higher education in a wide spectrum of subjects which are
            predominantly technical in nature. In comparison to mainstream
            study, a polytechnic college aims more at applied aspects of
            education and less at the theoretical ones. A great majority of
            polytechnic colleges offer polytechnic diplomas and courses in
            vocational and technical subjects. It is due to the quality of
            education in polytechnic diplomas and polytechnic courses offered by
            SRGI that there are an invariably high number of polytechnic
            admissions in the college every year
          </p>
          <p class="lead">
            When it comes to technical and applied subjects, the need for
            hands-on experience is extensively high. Students studying
            polytechnic courses at Sanskriti University have in them, a blend of
            skill and knowledge, which brings about absolute transformation. The
            university’s endeavor is to deliver not just a certificate or
            degree, but also a skilled global manpower that can benefit the
            world by making use of the skills learnt during the course.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="featurette-image img-fluid mx-auto"
            src=""
            alt="Generic placeholder image"
          />
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>
  </body>
</html>
<br />
<br />
<br />

<!----EJS Footer-->
<%-include("../partials/footer"); -%>
