<%-include("../partials/header"); -%>
<br />
<br />
<br />
<br />
<br />
<!-----EJS Header Finished --->
<!DOCTYPE html>
<html>
  <head>
    <title>SR College Of Pharmacy</title>
    <!----bootstrap css-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <!---Heading -->

  <body>
    <!-- Body -->

    <div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            SR COLLEGE OF PHARMACEUTICAL SCIENCES (3034)
          </h2>
          <br />
          <p class="lead">
            SR College of Pharmaceutical sciences was established in the year
            2019 by the management of SR Group of institutions Jhansi to fulfill
            increasing requirement of Pharmacist manpower especially in the
            field of hospitals. The Pharmacists works with Doctors in the
            hospitals and helps them in the care and treatment of the patients
            both in OPD and IPD by distribution of medicines and at the same
            time counseling of patients. As per Drug and Cosmetic act Drugs can
            only be dispensed(distributed) by a qualified Pharmacist. No
            pharmacy or Pharmaceutical shop or drug store can be run without a
            registered pharmacist. This gives huge requirement of pharmacists in
            government hospitals, private hospitals and all retail and wholesale
            pharmacies. It creates huge employment in these fields for a
            Pharmacist. The college offers course: D. Pharma (Diploma In
            Pharmacy). Pharmacists can also pursue higher studies in the field
            of pharmacy as B.Pharm, M.Pharm etc after doing D.Pharm.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="featurette-image img-fluid mx-auto"
            src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/dpharma1.jpg?alt=media&token=f8624866-f137-4dba-8e4d-96b8655b8db1"
            alt="Generic placeholder image"
          />
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">D. Pharm (Diploma In Pharmacy)</h2>
          <br />
          <p class="lead">
            D.Pharm is an undergraduate diploma course in the medical field of
            pharmacy. Pharmacy is the medical field involved in the preparation,
            dispensing and appropriate use of medication meant for therapeutic
            purposes. The course provides the minimum qualification to become a
            registered pharmacist in India. The minimum qualification for
            admission to diploma is intermediate in science stream (Biology/Math
            with Physics and Chemistry) or any other qualification approved by
            the Pharmacy Council of India as equivalent. The duration of the
            course is two academic years with each academic year spread over a
            period of 180 working days in addition to 500 hours of practical
            training spread over a period of not less than 3 months. Our SR
            College of Pharmaceutical Sciences is approved by All India Council
            for Technical Education, Pharmacy Council of India and Uttar Pradesh
            Board of Technical Education, Lucknow and hence provides the basic
            as well as advance environment for the successful conduction of the
            course curriculum.
          </p>
        </div>
        <div class="col-md-5">
          <img
            class="featurette-image img-fluid mx-auto"
            src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/dpharma2.jpg?alt=media&token=fcc41b53-a131-4258-a4c7-46771871d759"
            alt="Generic placeholder image"
          />
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>
  </body>
</html>
<br />
<br />
<br />

<!----EJS Footer-->
<%-include("../partials/footer"); -%>
