<%- include("../partials/header"); -%>
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8" />

    <meta
      name="description"
      content="Building modern responsive website with html5, css3, jQuery & bootstrap framework"
    />
    <meta
      name="keywords"
      content="HTML5, CSS3, jQuery, Bootstrap, Web Design, Web Development, Responsive website, Modern website"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- title -->
    <title>Coding Club</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="imgt/favicon.ico" />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <link rel="stylesheet" href="csst/font-awesome/css/font-awesome.min.css" />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="csst/bootstrap/bootstrap.min.css" />

    <!-- animate CSS -->
    <link rel="stylesheet" href="csst/animate/animate.css" />

    <!-- magnific-popup CSS -->
    <link rel="stylesheet" href="csst/magnific-popup/magnific-popup.css" />

    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="csst/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="csst/owl-carousel/owl.theme.default.min.css" />

    <!-- style CSS -->
    <link rel="stylesheet" href="csst/style.css" />

    <!-- responsive CSS -->
    <link rel="stylesheet" href="csst/responsive.css" />
  </head>

  <body data-spy="scroll" data-target=".navbar-fixed-top" data-offset="65">
    <!-- About -->
    <section id="about">
      <!-- About right side with diagonal BG parallax -->
      <!-- <div id="about-bg-diagonal" class="bg-parallax"></div> -->

      <!-- About left side with content -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="about-content-box">
              <div id="about-content-box-outer">
                <div id="about-content-box-inner">
                  <div
                    class="content-title wow animated fadeInDown"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  >
                    <h3>Coding club</h3>
                    <div class="content-title-underline"></div>
                  </div>

                  <div
                    id="about-desc"
                    class="wow animated fadeInDown"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  >
                    <p>
                     <strong>"Great things are done by a series of small things brought together".</strong>

                        Being Coding Club of a technical institution, we do pretty much everything and anything 
                        related to coding. Coding events, Workshops,classes, contests are just to name a few. 
                        We believe in coding our problems away.
                    </p>
                    <p>
                        Coding Club, the community with the network of strongest coders. I feel like there are number of benefits of coding club:

                        <ul>

                            <li><strong>Regular sessions and skilled mentors</strong>: As according to me the Sessions at coding club are phenomenal.
                                 They are very elaborative, indepth and straightforward to logic, thanks to the mentors, they are significantly 
                                 congenial i.e. you can any time ask the teacher and they will allow you to understand the concept and then move 
                                 further.The course runs in very systematic way and includes doubt sessions too.</li>
                            <li><strong>Focus on mastering problem solving skills</strong>: one of the most important thing in coding includes the 
                                ability to solve problem and working on logic and the amazing thing about sessions at coding club is that before 
                                anything the mentors prioritize to work on problem solving and clear the logic behind every step.</li>
                            <li><strong>Online contests:</strong> Coding club frequently takes online contests. and also discuss the most amazing and interesting
                                 problems from spoj and codechef. etc. which will improve you rank at various coding platforms.</li>
                            <li><strong>Networking and referrals:</strong> The team helps you to refer your resume and woohoooo you have cleared the very 
                                important hurdle in selection. thus networking to coding club also helped you with networking with dream companies.</li>
                            <li><strong>Other benefits</strong> : The mentors are very supportive and friendly, provides you the guidance of what technologies 
                                should be focussed in a particular year and all. connecting to coding club, you can also become a brand across the 
                                college which also uplift you resume.</li>
                  </ul> </p>
                  </div>

                  <div
                    id="about-btn"
                    class="wow animated fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br />
    <br />
    
    

    <!-- Club images -->
    <section id="work">
      <div class="content-box">
        <div
          class="content-title wow animated fadeInDown"
          data-wow-duration="1s"
          data-wow-delay=".5s"
        >
          <h3>Coding club  Gallery</h3>
          <div class="content-title-underline"></div>
        </div>

        <div class="container-fluid">
          <div
            class="row no-gutters wow animated fadeInUp"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
          <!----image 1-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2F849494_bf872a1b497d42dfb0fe3877009209ab_mv2.png?alt=media&token=a691fb83-c76e-4dd6-931b-4003ebf83733"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2F849494_bf872a1b497d42dfb0fe3877009209ab_mv2.png?alt=media&token=a691fb83-c76e-4dd6-931b-4003ebf83733"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <!---iamge2-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2FPSX_20200513_101218.jpg?alt=media&token=e19411c3-415c-4cdd-97a5-808410b4ec9a"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2FPSX_20200513_101218.jpg?alt=media&token=e19411c3-415c-4cdd-97a5-808410b4ec9a"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <!---img 3-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2FcustomLogo.png?alt=media&token=c16acd34-3450-4cd6-a56c-7ffe7b147320"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2FcustomLogo.png?alt=media&token=c16acd34-3450-4cd6-a56c-7ffe7b147320"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <!---img4-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fdownload.jpg?alt=media&token=fdf6580b-526f-4e75-8c86-7de9d40cc543"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fdownload.jpg?alt=media&token=fdf6580b-526f-4e75-8c86-7de9d40cc543"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <!---img5-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fdownload.png?alt=media&token=af7c16c3-5410-46be-870d-e31cd85c649d"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fdownload.png?alt=media&token=af7c16c3-5410-46be-870d-e31cd85c649d"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <!---img6-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fedtech-startups-preparing-for-future-jobs.jpg?alt=media&token=cf7cbcc7-2cfe-4dff-b953-299fb06ac96a"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fedtech-startups-preparing-for-future-jobs.jpg?alt=media&token=cf7cbcc7-2cfe-4dff-b953-299fb06ac96a"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <!---img7-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2FiYsj0l55.jpg?alt=media&token=87d2ddb3-b070-47cf-a298-ff556f3a8d77"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2FiYsj0l55.jpg?alt=media&token=87d2ddb3-b070-47cf-a298-ff556f3a8d77"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <!--img8-->
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fimages.png?alt=media&token=055c0816-4156-4f24-961d-4fc5d04428b5"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/testing-211bb.appspot.com/o/Coding%20club%2Fimages.png?alt=media&token=055c0816-4156-4f24-961d-4fc5d04428b5"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Content Box -->
    </section>


    <!-- jQuery -->
    <script src="jst/jquery.js"></script>

    <!-- bootstrap JS -->
    <script src="jst/bootstrap/bootstrap.min.js"></script>

    <!-- WOW JS -->
    <script src="jst/wow/wow.min.js"></script>

    <!-- magnific-popup JS -->
    <script src="jst/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- owl carousel JS -->
    <script src="jst/owl-carousel/owl.carousel.min.js"></script>

    <!-- counter -->
    <script src="jst/counter/jquery.waypoints.min.js"></script>
    <script src="jst/counter/jquery.counterup.min.js"></script>

    <!-- easing -->
    <script src="jst/easing/jquery.easing.1.3.js"></script>

    <!-- custom JS -->
    <script src="jst/custom.js"></script>
  </body>
</html>

<%- include("../partials/footer"); -%>
