<%- include("../partials/header"); -%>
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8" />

    <meta
      name="description"
      content="Building modern responsive website with html5, css3, jQuery & bootstrap framework"
    />
    <meta
      name="keywords"
      content="HTML5, CSS3, jQuery, Bootstrap, Web Design, Web Development, Responsive website, Modern website"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- title -->
    <title>Modern Responsive Website</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="imgt/favicon.ico" />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <link rel="stylesheet" href="csst/font-awesome/css/font-awesome.min.css" />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="csst/bootstrap/bootstrap.min.css" />

    <!-- animate CSS -->
    <link rel="stylesheet" href="csst/animate/animate.css" />

    <!-- magnific-popup CSS -->
    <link rel="stylesheet" href="csst/magnific-popup/magnific-popup.css" />

    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="csst/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="csst/owl-carousel/owl.theme.default.min.css" />

    <!-- style CSS -->
    <link rel="stylesheet" href="csst/style.css" />

    <!-- responsive CSS -->
    <link rel="stylesheet" href="csst/responsive.css" />
  </head>

  <body data-spy="scroll" data-target=".navbar-fixed-top" data-offset="65">
    <!-- About -->
    <section id="about">
      <!-- About right side with diagonal BG parallax -->
      <!-- <div id="about-bg-diagonal" class="bg-parallax"></div> -->

      <!-- About left side with content -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="about-content-box">
              <div id="about-content-box-outer">
                <div id="about-content-box-inner">
                  <div
                    class="content-title wow animated fadeInDown"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  >
                    <h3>About Campus Facilities</h3>
                    <div class="content-title-underline"></div>
                  </div>

                  <div
                    id="about-desc"
                    class="wow animated fadeInDown"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  >
                    <p>
                      SRGI campus hosts a wide variety of exceptional facilities
                      to create an environment where you can shape your future.
                      We have various cafes and restaurants spaces for
                      conferences and meetings, special events, receptions, and
                      athletic competitions. We give massive importance to our
                      facilities and learning resources and continuously ensure
                      that our staff and students have full access to everything
                      they need to help them succeed in their work and study.
                    </p>
                    <p>
                      We know the value of taking a break from the stresses of
                      academic life and relax with your friends. Our
                      College-owned and -managed accommodation offers a choice
                      of quieter environments and superb social opportunities
                      for those looking to meet new friends. Our sports centres
                      provide fantastic opportunities for people at every level
                      of fitness. Safety and comfort of our staff and students
                      are the prime concerns for us. The fleet of College buses
                      provides pick and drop facility to our students and offers
                      a comfortable travelling experience to them.
                    </p>
                  </div>

                  <div
                    id="about-btn"
                    class="wow animated fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Griglia alternata testo e immagine, resposive con flexbox.-->

    <!-- Work -->
    <section id="work">
      <div class="content-box">
        <div
          class="content-title wow animated fadeInDown"
          data-wow-duration="1s"
          data-wow-delay=".5s"
        >
          <h3>Campus Facilities</h3>
          <div class="content-title-underline"></div>
        </div>

        <div class="container-fluid">
          <div
            class="row no-gutters wow animated fadeInUp"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://srgi.ac.in/wp-content/uploads/2018/06/canteen.jpg"
                  title="Work Description Goes Here"
                >
                  Cafeteria
                  <img
                    src="https://srgi.ac.in/wp-content/uploads/2018/06/canteen.jpg"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm1.jpg?alt=media&token=297046f5-9bde-446c-8b21-833487987f50"
                  title="Work Description Goes Here"
                  >General Store 1
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm1.jpg?alt=media&token=297046f5-9bde-446c-8b21-833487987f50"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm2.jfif?alt=media&token=1abb51dc-1e6d-46c2-a5be-180ad85f6b7c"
                  title="Work Description Goes Here"
                  >General Store 2
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm2.jfif?alt=media&token=1abb51dc-1e6d-46c2-a5be-180ad85f6b7c"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm3.jpg?alt=media&token=3a9ff568-2791-4d93-8d83-0937c8504d8c"
                  title="Work Description Goes Here"
                  >Dining
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm3.jpg?alt=media&token=3a9ff568-2791-4d93-8d83-0937c8504d8c"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm5.jpg?alt=media&token=33a0c5e8-49b8-402f-8472-8b9d01e31fc6"
                  title="Work Description Goes Here"
                  >Gym
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm5.jpg?alt=media&token=33a0c5e8-49b8-402f-8472-8b9d01e31fc6"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm6.jpg?alt=media&token=a74546f9-1bf8-4992-b2ce-a9c01b249182"
                  title="Work Description Goes Here"
                  >Movie Theater
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/atm6.jpg?alt=media&token=a74546f9-1bf8-4992-b2ce-a9c01b249182"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/bus.jfif?alt=media&token=3aeab7b3-a034-4b9b-9323-4ad6e655106d"
                  title="Work Description Goes Here"
                  >Transportation
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/bus.jfif?alt=media&token=3aeab7b3-a034-4b9b-9323-4ad6e655106d"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/ATM.jpg?alt=media&token=ebd227a8-ee89-4c2f-aad0-0d2f5201d15f"
                  title="Work Description Goes Here"
                  >Atm Facility Available
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/ATM.jpg?alt=media&token=ebd227a8-ee89-4c2f-aad0-0d2f5201d15f"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content Box -->
    </section>

    <!-- Clients -->
    <section id="clients">
      <div class="content-box">
        <div
          class="content-title wow animated fadeInDown"
          data-wow-duration="1s"
          data-wow-delay=".5s"
        >
          <h3>Clients</h3>
          <div class="content-title-underline"></div>
        </div>

        <div class="container">
          <div
            class="row wow animated bounceInLeft"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <div class="col-md-12">
              <div id="clients-list" class="owl-carousel owl-theme">
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-1.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-2.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-3.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-4.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-5.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-6.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-7.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-8.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content Box -->
    </section>

    <!-- jQuery -->
    <script src="jst/jquery.js"></script>

    <!-- bootstrap JS -->
    <script src="jst/bootstrap/bootstrap.min.js"></script>

    <!-- WOW JS -->
    <script src="jst/wow/wow.min.js"></script>

    <!-- magnific-popup JS -->
    <script src="jst/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- owl carousel JS -->
    <script src="jst/owl-carousel/owl.carousel.min.js"></script>

    <!-- counter -->
    <script src="jst/counter/jquery.waypoints.min.js"></script>
    <script src="jst/counter/jquery.counterup.min.js"></script>

    <!-- easing -->
    <script src="jst/easing/jquery.easing.1.3.js"></script>

    <!-- custom JS -->
    <script src="jst/custom.js"></script>
  </body>
</html>

<%- include("../partials/footer"); -%>
